* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Mise en place*/

#tarif {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-bottom: 20px;
}

/*********************************** petit menu*****************************************************/

#tarif ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.li_tarif img {
    border: 1px solid black;
    border-radius: 40px;
}

/************************************* Tableau *****************************************************/
caption h3 {
    text-align: left;
    padding: 40px 10px 5px 10px;
}

table {
    border-top: 1px black solid;
    padding-top: 10px;
    width: 90%;
    margin-left: 5%;
}

.catégorie {
    font-weight: bold;
    text-align: left;
    padding: 6px;
    border-radius: 20px;
}

td,
.titre {
    border: 1px solid teal;
    text-align: center;
    border-radius: 10px;
}
.rien,
.catégorie {
    border: none;
}

.espace,
.normal_td,
.catégorie {
    padding-left: 15px;
    text-align: left;
    margin-left: 5px;
}

.espace {
    background-color: rgb(173, 218, 218);
}

.titre {
    background-color: rgb(173, 218, 218);
    width: 23%;
}

/******************************** footer************************************************************/
footer {
    display: flex;
    align-items: center;
    background-image: linear-gradient(to top, #000000, #111111, #1c1c1c, #272626, #323131);
    padding: 3px;
}
.ul_footer_reseaux {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    width: 50%;
    margin: auto;
}
.ul_footer_reseaux li a img {
    margin: 10px;
}
/****************************  Debut Media queries tarif et footer *********************************/

/************************** Tablets and desktop **************************************************/

@media screen and (min-width: 769px) {
    .titre,
    .catégorie,
    .espace,
    .normal_td,
    td {
        font-size: 1em;
    }
    .li_tarif {
        display: none;
    }

    .ul_footer_reseaux a {
        text-decoration: none;
    }
    
    .tableau {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    table {
        width: 45%;
        margin: 0px;
    }
}
/*********************************** Fin Media Queries  tarif et footer ***************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: linear-gradient(
        to top,
        #4eaa52,
        #3d9241,
        #2c7b31,
        #1a6521,
        #054f11
    );
}

#fond {
    background-color: white;
    margin: auto;
    max-width: 1920px;
    min-width: 300px;
    box-shadow: 0.1em 0.1em 0.5em black;
}

nav {
    background-color: #111;
    position: fixed;
    width: 100vw;
    max-width: 1920px;
    z-index: 10;
    box-shadow: 0.1em 0.1em 0.5em black;
}

.liens-logo img:hover {
    filter: grayscale(1) brightness(200%);
    -webkit-filter: grayscale(1) brightness(200%);
    transition-duration: 0.8s;
}

.liens-nav,
.liens-nav:visited {
    text-decoration: none;
    color: teal;
    padding: 20px 10px;
    line-height: 40px;
}

.liens-nav:hover {
    color: white;
    transition-duration: 0.8s;
    background-image: linear-gradient(
        to right bottom,
        #025750,
        #046a5d,
        #117e68,
        #229272,
        #36a67a
    );
}

nav ul {
    display: flex;
    margin-right: 10px;
    flex-wrap: nowrap;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

nav li {
    overflow: hidden;
}

#logo {
    display: none;
    margin-right: auto;
}

#carousel {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    height: 100vh;
    max-height: 1200px;
    background-position: center;
    background-image: url(img/carousel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

#carousel img {
    width: 60px;
    height: 60px;
}

h1 {
    color: white;
    margin: auto;
    font-size: 3rem;
    color: white;
    text-shadow: teal 0.2em 0.2em 0.4em;
}

h2 {
    padding: 60px 0px 40px 0px;
    display: block;
    text-align: center;
    text-shadow: 0.1em 0.1em 0.2em grey;
}

#divwrap {
    display: flex;
    flex-direction: column;
}

#jujudiv {
    border-radius: 150px;
    width: 300px;
    height: 300px;
    background-image: url(img/juju2.jpg);
    margin-bottom: 20px;
}

#jujudiv:hover img {
    display: none;
}

#maxdiv {
    border-radius: 150px;
    width: 300px;
    height: 300px;
    background-image: url(img/max2.jpg);
    margin-bottom: 20px;
}

#maxdiv:hover img {
    display: none;
}

#alexdiv {
    border-radius: 150px;
    width: 300px;
    height: 300px;
    background-image: url(img/alex2.jpg);
    margin-bottom: 20px;
}

#alexdiv:hover img {
    display: none;
}

#staff article {
    margin: auto;
    width: 320px;
    text-align: center;
    padding: 10px;
    margin-bottom: 60px;
}

#staff article p {
    padding: 10px;
    border-radius: 40px;
    background-image: linear-gradient(
        to bottom,
        #d4d4d4,
        #d9dbde,
        #dbe4e7,
        #deecec,
        #e5f4ec
    );
    box-shadow: 0.1em 0.1em 0.2em grey;
    color: rgb(1, 97, 97);
}

#staff article img {
    border-radius: 50%;
}

#staff div article:hover p {
    background-image: linear-gradient(
        to top,
        #d4d4d4,
        #d9dbde,
        #dbe4e7,
        #deecec,
        #e5f4ec
    );
    transition-duration: 1s;
}

#staff div article:hover img {
    opacity: 1;
    transition-duration: 1s;
}

@media screen and (min-width: 360px) {
    #logo {
        display: flex;
        margin-right: auto;
        padding-left: 10px;
    }
    nav ul {
        justify-content: flex-end;
    }
}

@media screen and (min-width: 769px) {
    #divwrap {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .liens-nav,
    .liens-nav:visited {
        padding: 20px 20px;
    }
}

/* partis CSS de Maxime */

#services {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#article {
    display: flex;
    flex-direction: column;
}

#services h3{
    padding-top:10px;
}

#services article {
    flex-direction: column;
    width: 80%;
    text-align: center;
    margin: 20px auto;
    color: teal;
    background-image: linear-gradient(
        to right bottom,
        #d4d4d4,
        #d9dbde,
        #dbe4e7,
        #deecec,
        #e5f4ec
    );
    border-radius: 15px;
    padding-bottom:10px;
    box-shadow: 0.1em 0.1em 0.2em grey;
}

#article img {
    border-radius: 25% 10%;
    width:80%;
    margin-top:20px;
    text-align: justify;
    border: solid white 1px;
}

#article article:hover {
    transform: scale(1.1);
    color: teal;
    transition-duration: 0.8s;
    background-image: linear-gradient(
        to left top,
        #d4d4d4,
        #d9dbde,
        #dbe4e7,
        #deecec,
        #e5f4ec
    );
}

#article p {
    text-align: justify;
    padding: 10px 10%;
    font-size:0.8em;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    width: 100%;
}

input {
    width: 80%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

select {
    width: 80%;
    margin: 10px 0px;
    padding: 10px;
}

textarea {
    width: 80%;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
}

#button {
    width: 30%;
    display: inline-block;
}

#button:hover {
    color: white;
    transition-duration: 0.8s;
    box-shadow: grey 0.2em 0.2em 0.4em;
    background-image: linear-gradient(
        to right bottom,
        #025750,
        #046a5d,
        #117e68,
        #229272,
        #36a67a
    );
}

#adresse {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    padding: 10px 0px;
}

#adresse div {
    text-align: center;
    padding: 10px;
}

#adresse div p {
    padding: 10px 0px;
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
    #adresse {
        flex-direction: column;
    }

}
/* Tablet Styles */
@media only screen and (min-width: 769px) and (max-width: 1200px) {
    #article {
        display: flex;
        flex-flow: wrap row;
        justify-content: center;
    }

    #services article {
        width: 40%;
    }
}

/* Desktop Styles */
@media screen and (min-width: 1201px) {
    #article {
        display: flex;
        flex-flow: row;
    }

    #services article {
        width: 20%;
    }
}

iframe {
    border-radius: 10px;
}

#tarif img{
    width:70px;
}