*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Mise en place*/

#tarif {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-bottom: 20px;
}

/* petit menu*/

#tarif h2 {
    padding: 1vw;
    margin-bottom: 2vw;
    text-align: center;
}
#tarif ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.li_tarif img { 
    border: 1px solid black;
    border-radius: 40px;
}

/*Tableau*/
table{
    border-top: 1px black solid;
    padding-top: 10px;
    width: 90%;
    margin-left: 5%;
}
caption{
    margin: 4vw 2vw 2vw 2vw;
    font-size: 3vw;
    border: 1px black solid;
    color: white;
    border-radius: 10px;
    background-color: lightgrey;
}
.catégorie {
    text-decoration: underline ;
    text-align: left;
    padding: 6px;
    border-radius: 20px;
    font-size: 4vw;
}

td, .titre{
    border: 1px solid palegreen;
    text-align: center;
    font-size: 2.7vw;
    border-radius: 10px;
}
.rien, .catégorie {
    border: none;
}
.espace{
    text-align: left;
    margin-left: 5px;
    background-color: palegreen;
    font-size: 4vw;
}
.titre{
    background-color: palegreen;
    width: 23%;
}
.normal_td{
    text-align: left;
    padding-left: 6px;
    font-size: 4vw;
}

/* footer*/
footer {
    display: flex;
    align-items: center;
    background-color:lightgrey;
}
.ul_footer_menu, .ul_footer_reseaux{
    list-style: none;
}
.reseaux_lien{
    display: none;
}

.ul_footer_reseaux{
    margin-left: auto;
    display: flex;  
    margin-top: 1%;
    margin-right: 3vw;
}
.ul_footer_reseaux li img{
    border-radius: 100%;
    margin-left: 2vw;

}
.ul_footer_menu{
    margin-left: 15px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 40%;
}
.footer_div{
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.ul_footer_menu div li a{
    text-decoration: none;
    color: olivedrab;
    font-size: 0.5em;
    }
}
.footer_div li{
    margin-right: 5px;
}

 /*Mobile Styles*/
 @media screen and (max-width: 768px){
    .li_tarif h3{
        display: none;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 769px) and (max-width: 992px) {

    .li_tarif h3{
        display: block;
    }
    .li_tarif a, .ul_footer_reseaux a {
        text-decoration: none;
    }
    .li_tarif img{
        display: none;
    }
    .li_tarif h3{
        border: 3px groove lightgrey;
        background-color: lightgrey;
        color: black;
    }
    table{
        width: 80%;
        margin-left: 10%;
    }
    .titre, .catégorie, .espace, .normal_td, td{
        font-size: 1em;
    }
    caption{
       width: 45%;
   }
   .footer_div li{
       font-size: 2em;
   }
}

